.fullscreen {
  position: fixed;
  box-sizing: border-box;
  background-color: #181818;
  transition: background-color 750ms ease-in-out;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.fullscreen.average_background {
  background-color: var(--background-color);
}

.fullscreen > div > .img_stage {
  overflow: visible;
}

.fullscreen > div > .img_stage img {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.fullscreen > .fullscreen__exit_btn {
  position: absolute;
  right: 0rem;
  top: 0rem;
  z-index: 3;
}
