.img_stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
}

.img_stage img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img_stage__zoom {
  -webkit-animation: zoomAnimation 10s linear;
  -moz-animation: zoomAnimation 10s linear;
  -o-animation: zoomAnimation 10s linear;
  animation: zoomAnimation 10s linear;
}

@-webkit-keyframes zoomAnimation {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.25);
  }
}

@-moz-keyframes zoomAnimation {
  0% {
    -moz-transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -moz-transform: translate(-50%, -50%) scale(1.25);
  }
}

@-o-keyframes zoomAnimation {
  0% {
    -o-transform: translate(-50%, -50%) scale(1);
  }
  100% {
    -o-transform: translate(-50%, -50%) scale(1.25);
  }
}

@keyframes zoomAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.25);
  }
}
