.mibreit_ImageStage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  overflow: hidden;
}

.mibreit_ImageStage > img.zoom {
  -webkit-transition: transform 10000ms linear;
  -moz-transition: transform 10000ms linear;
  -o-transition: transform 10000ms linear;
  transition: transform 10000ms linear;
  -webkit-transform: scale(1.125);
  -moz-transform: scale(1.125);
  -o-transform: scale(1.125);
  transform: scale(1.125);
}
