.img_wall {
  width: 100%;

  /* Use flexbox to create columns side-by-side */
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.img_col {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img_col img {
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.img_col img:hover {
  transform: scale(1.025);
}

.img_loaded {
  opacity: 1 !important;
}
