.thumbs_wrapper__parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.thumbs_wrapper__parent svg {
  width: 3rem;
  height: 3rem;
  fill: #727f88;
}

.thumbs_wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.thumbs_wrapper__centered {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbs_wrapper__previous_btn,
.thumbs_wrapper__next_btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.thumbs_wrapper__previous_btn > svg {
  transform: scaleX(-1);
}
