.thumbs_viewer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: pan-y;
}

.thumbs_viewer__centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
