mbg-gallery,
mbg-slideshow,
mbg-imageswall,
mbg-images,
mbg-thumbs,
mbg-title {
  position: relative;
  overflow: hidden;
  display: block;
}
mbg-imageswall {
  min-height: 100vh;
}
mbg-images,
mbg-thumbs {
  opacity: 0;
  width: 100%;
}
mbg-thumbs {
  margin-top: 0.5rem;
}
mbg-title {
  padding: 0rem;
  text-align: center;
}
