.fade {
  -webkit-transition: opacity 750ms ease-out;
  -moz-transition: opacity 750ms ease-out;
  -o-transition: opacity 750ms ease-out;
  transition: opacity 750ms ease-out;
}
.transition {
  -webkit-transition: all 750ms ease-out;
  -moz-transition: all 750ms ease-out;
  -o-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
}
