.mibreit_GalleryPrevious {
  position: absolute;
  z-index: 2;
  top: 50%;
  opacity: 0;
}

.mibreit_GalleryNext {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0rem;
  opacity: 0;
}

.mibreit_GalleryNext > svg {
  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;
  fill: #727f88;
}

.mibreit_GalleryPrevious > svg {
  transform: scaleX(-1);
  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;  
  fill: #727f88;
}
